.box{
    margin: 10% auto;
    width: 600px;
    height: 400px;
    background-color: #ddd;
}

.axisText{
    font-size: 15px;
}

.title{
    font-size: 20px;
}
.box{
    
}
.select {
    cursor: pointer;
    position: relative;
  top:20px;
    left: 13%;
    font-size: 20px;
    color: black;
    margin-left: 10px;
  }